.blockSimilarMovie{
    width:69%;
    margin:auto;
    margin-top:100px;
    padding-bottom:15px;
    height:700px;
    margin-bottom:10px;
}

@media (max-width : 1250px){
    .blockSimilarMovie {
        margin-top:10px;
        height: 500px;
        width: 90%;
    }
}
@media (max-width : 700px){
    .blockSimilarMovie {
        display: hidden;
    }
}
