.SpinnerShop{
    text-align:center;
    padding-top:450px;
}

@media (max-width: 780px) {
    .SpinnerShop{
       padding-top: 350px;
        
    }
}

@media (max-width: 600px) {
    .SpinnerShop{
       padding-top: 25%;
        
    }
}