.images{ 
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 680px;
    justify-content: center;
    margin-top: 45px;

}
.image{
  width: 68%;
  height: auto;
}
.image2{
  width: 30%;
  height: auto;
}

.image3{
  width: 30%;
  height: auto;
}


.close{
  color: white;
}

@media (max-width : 1250px){
  .image{
   width: 100%;
  }}

