.images{ 
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 680px;
    justify-content: center;
    margin-top: 25px;

}
.image {
  width: 68%;
  height: auto;
}

.image:hover{
  opacity: 0.2;
}
