.blockButtonSelect{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width:800px) {
    .blockButtonSelect{
        align-items: center;
        flex-direction: column;
    }
}